@model IEnumerable<TrabajoPracticoFinal_Labo4.Models.TicketDetalle>

@{
	ViewData["Title"] = "Tickets Pendientes";
}

<div class="text-center">
	<h1 class="display-4">Tickets pendientes de resolución</h1>

</div>

<table class="table">
	<thead>
		<tr>
			<th>Fecha Solicitud</th>
			<th>Apellido del Afiliado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>